<div class="app-state-container">
    <div class="header">
        <div>
            <h3>Model Schema</h3>
            <p>Model ID: <strong>{{ modelId }}</strong> | Version: <strong>{{ modelVersion }}</strong></p>
        </div>
        <button nz-button nzType="primary" (click)="goToEditor()">Editor</button>

    </div>

    <div class="search-bar">
        <input nz-input placeholder="Search model schema fields..." [(ngModel)]="searchText" />
    </div>

    <nz-table [nzData]="filteredFields" [nzBordered]="false" [nzFrontPagination]="false" [nzLoading]="isLoading">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Data Type</th>
                <th>Schema Type</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let field of filteredFields">
                <td>
                    <input nz-input [value]="field.fieldName" [disabled]="true" />
                </td>

                <td>
                    <nz-select [ngModel]="field.dataType" [disabled]="true" style="width: 100%;">
                        <nz-option *ngFor="let type of dataTypes" [nzLabel]="type" [nzValue]="type">
                        </nz-option>
                    </nz-select>
                </td>

                <td>
                    <nz-select [ngModel]="field.type" [disabled]="true" style="width: 100%;">
                        <nz-option *ngFor="let t of typeOptions" [nzLabel]="t | uppercase" [nzValue]="t">
                        </nz-option>
                    </nz-select>
                </td>

                <td>
                    <input nz-input [value]="field.description || '-'" [disabled]="true" />
                </td>

            </tr>
        </tbody>
    </nz-table>
</div>