<nz-layout class="app-layout">
    <nz-sider nzCollapsible nzWidth="256px" nzTheme="dark">
        <div class="sidebar-header">
            <button nz-button nzType="text" (click)="goBackToUnits()">
                <span nz-icon nzType="arrow-left"></span>
                <span>Model</span>
            </button>
        </div>

        <ul nz-menu nzMode="inline">
            <li nz-menu-item [nzSelected]="currentPage === 'Overview'" (click)="modelOverviewPage()">
                <span nz-icon nzType="pie-chart"></span>
                <span>Overview</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Editor'" (click)="modeleditorPage()">
                <span nz-icon nzType="node-index"></span>
                <span>Editor</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Configuration'" (click)="modelConfigurationPage()">
                <span nz-icon nzType="edit"></span>
                <span>Configuration</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Template'" (click)="modelTemplateConfigurationPage()">
                <span nz-icon nzType="profile"></span>
                <span>Template</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Testing'" (click)="modelTestingPage()">
                <span nz-icon nzType="experiment"></span>
                <span>Testing</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Deploy'" (click)="modelDeployPage()">
                <span nz-icon nzType="rocket"></span>
                <span>Deployment</span>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header class="top-bar">
            <nz-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Unit</nz-breadcrumb-item>
                <nz-breadcrumb-item>System</nz-breadcrumb-item>
                <nz-breadcrumb-item>Model</nz-breadcrumb-item>

                <nz-breadcrumb-item *ngIf="currentPage === 'Overview'">Overview</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Editor'">Editor</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Configuration'">Configuration</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Template'">Template</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Testing'">Testing</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Deploy'">Deploy</nz-breadcrumb-item>

            </nz-breadcrumb>
        </nz-header>

        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>