<div class="page-container">
    <!-- Left Library Panel -->
    <div class="left-panel">
        <div class="title">
            <h3>Block Editor</h3>
            <nz-divider></nz-divider>
        </div>

        <div class="nodes">
            <nz-divider nzText="System"></nz-divider>
            <div *ngFor="let node of systemNodes" class="library-node" [style.background-color]="node.uiLayout.color"
                draggable="true" (dragstart)="onDragStart($event, node)">
                <ng-container *ngFor="let port of node.ports">
                    <span
                        [ngClass]="{'endpoint': true, 'left': port.portType === 'INPUT', 'right': port.portType === 'OUTPUT'}"></span>
                </ng-container>
                {{ node.name }}
            </div>

            <nz-divider nzText="Custom Blocks"></nz-divider>
            <div *ngFor="let node of blockNodes" class="library-node" [style.background-color]="node.uiLayout.color"
                draggable="true" (dragstart)="onDragStart($event, node)">
                <ng-container *ngFor="let port of node.ports">
                    <span [ngClass]="{
                        'endpoint': true, 
                        'left': port.portType === 'INPUT', 
                        'right': port.portType === 'OUTPUT',
                        'port-1': port.portOrder === 1,
                        'port-2': port.portOrder === 2
                    }"></span>
                </ng-container>
                {{ node.name }}
            </div>
        </div>
    </div>

    <!-- Main Canvas Area -->
    <nz-splitter nzLayout="vertical" class="main-splitter">
        <nz-splitter-panel nzMin="20%" [nzCollapsible]="true">
            <div class="center-panel">
                <div class="top-bar">
                    <nz-breadcrumb>
                        <nz-breadcrumb-item>Model</nz-breadcrumb-item>
                        <nz-breadcrumb-item>v2.1.0</nz-breadcrumb-item>
                    </nz-breadcrumb>
                    <div class="controlles">
                        <button nz-button nzType="default" (click)="zoomIn()" nz-tooltip nzTooltipTitle="Zoom In">
                            <nz-icon nzType="zoom-in"></nz-icon>
                        </button>
                        <button nz-button nzType="default" (click)="resetZoom()" nz-tooltip nzTooltipTitle="Reset Zoom">
                            {{ (zoomLevel * 100) | number:'1.0-0' }}%
                        </button>
                        <button nz-button nzType="default" (click)="zoomOut()" nz-tooltip nzTooltipTitle="Zoom Out">
                            <nz-icon nzType="zoom-out"></nz-icon>
                        </button>
                        <button nz-button nzType="primary" (click)="saveCurrentFlow()">Save</button>
                        <div class="screen-mode" (click)="toggleFullscreen()">
                            <nz-icon [nzType]="isFullscreen ? 'fullscreen-exit' : 'fullscreen'"></nz-icon>
                        </div>
                    </div>
                </div>

                <!-- Canvas Viewport Wrapper -->
                <div class="canvas-viewport" (wheel)="onWheel($event)" (dragover)="onDragOver($event)"
                    (drop)="onDrop($event)">
                    <div #container class="canvas" [style.transform]="'scale(' + zoomLevel + ')'"
                        (click)="deselectNode($event)">
                        <div *ngFor="let node of flowNodes" [id]="node.instanceId" class="block-instance-node"
                            [class.node-error]="node.hasError"
                            [class.selected-node]="selectedNode?.instanceId === node.instanceId"
                            [style.left.px]="node.uiLayout.canvasX" [style.top.px]="node.uiLayout.canvasY"
                            [style.width.px]="node.uiLayout.canvasWidth" [style.height.px]="node.uiLayout.canvasHeight"
                            [style.background-color]="node.hasError ? '#ff4d4f' : node.uiLayout.color"
                            (contextmenu)="openContextMenu($event, node)" (dblclick)="selectNode(node, $event)">
                            <div class="name-icon">
                                <nz-icon *ngIf="node.uiLayout.icon" [nzType]="node.uiLayout.icon"
                                    style="margin-right: 5px;"></nz-icon>
                                {{ node.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nz-splitter-panel>
    </nz-splitter>

    <!-- Right Configuration Panel -->
    <div class="right-panel">
        <app-block-config-pannel [blockData]="selectedNode" [pipelineId]="pipelineId" [modelId]="modelId"
            [systemId]="systemId" [unitId]="unitId" [systemSchema]="systemSchema"
            (nodeUpdated)="refreshNodeEndpoints($event)" [consoleErrors]="consoleErrors">
        </app-block-config-pannel>
    </div>

    <!-- Context Menu -->
    <div class="context-menu" *ngIf="isContextMenuVisible" [style.top.px]="contextMenuPosition.y"
        [style.left.px]="contextMenuPosition.x">
        <div class="menu-item delete" (click)="deleteNode()">Delete</div>
    </div>
</div>

<p class="flow-debug">{{showFlow}}</p>